In [77]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix 
from sklearn import preprocessing

In [10]:
data=pd.read_csv("Logistic_Regression_Binary_Classsification_Churn_Data.csv")

In [16]:
data.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
df=data.drop(['customerID','PaymentMethod','PaperlessBilling','PhoneService'],axis=1)

In [29]:
df

      tenure        Contract  MonthlyCharges TotalCharges Churn
0          1  Month-to-month           29.85        29.85    No
1         34        One year           56.95       1889.5    No
2          2  Month-to-month           53.85       108.15   Yes
3         45        One year           42.30      1840.75    No
4          2  Month-to-month           70.70       151.65   Yes
5          8  Month-to-month           99.65        820.5   Yes
6         22  Month-to-month           89.10       1949.4    No
7         10  Month-to-month           29.75        301.9    No
8         28  Month-to-month          104.80      3046.05   Yes
9         62        One year           56.15      3487.95    No
10        13  Month-to-month           49.95       587.45    No
11        16        Two year           18.95        326.8    No
12        58        One year          100.35       5681.1    No
13        49  Month-to-month          103.70       5036.3   Yes
14        25  Month-to-month          105.50      2686.05    No
15        69        Two year          113.25      7895.15    No
16        52        One year           20.65      1022.95    No
17        71        Two year          106.70      7382.25    No
18        10  Month-to-month           55.20       528.35   Yes
19        21  Month-to-month           90.05       1862.9    No
20         1  Month-to-month           39.65        39.65   Yes
21        12        One year           19.80       202.25    No
22         1  Month-to-month           20.15        20.15   Yes
23        58        Two year           59.90       3505.1    No
24        49  Month-to-month           59.60       2970.3    No
25        30  Month-to-month           55.30       1530.6    No
26        47  Month-to-month           99.35      4749.15   Yes
27         1  Month-to-month           30.20         30.2   Yes
28        72        Two year           90.25      6369.45    No
29        17  Month-to-month           64.70       1093.1   Yes
...      ...             ...             ...          ...   ...
7013      40  Month-to-month           93.40       3756.4    No
7014      41  Month-to-month           89.20      3645.75    No
7015      34  Month-to-month           85.20      2874.45    No
7016       1  Month-to-month           49.95        49.95    No
7017      51        Two year           20.65      1020.75    No
7018       1  Month-to-month           70.65        70.65   Yes
7019      39        Two year           20.15          826    No
7020      12  Month-to-month           19.20          239    No
7021      12        One year           59.80        727.8   Yes
7022      72        One year          104.95       7544.3    No
7023      63  Month-to-month          103.50       6479.4    No
7024      44  Month-to-month           84.80      3626.35    No
7025      18  Month-to-month           95.05       1679.4    No
7026       9  Month-to-month           44.20       403.35   Yes
7027      13  Month-to-month           73.35       931.55    No
7028      68        Two year           64.10      4326.25    No
7029       6  Month-to-month           44.40       263.05    No
7030       2  Month-to-month           20.05        39.25    No
7031      55        One year           60.00       3316.1    No
7032       1  Month-to-month           75.75        75.75   Yes
7033      38  Month-to-month           69.50      2625.25    No
7034      67  Month-to-month          102.95      6886.25   Yes
7035      19  Month-to-month           78.70       1495.1    No
7036      12        One year           60.65        743.3    No
7037      72        Two year           21.15       1419.4    No
7038      24        One year           84.80       1990.5    No
7039      72        One year          103.20       7362.9    No
7040      11  Month-to-month           29.60       346.45    No
7041       4  Month-to-month           74.40        306.6   Yes
7042      66        Two year          105.65       6844.5    No

[7043 rows x 5 columns]

In [22]:
lb =preprocessing.LabelEncoder()

In [46]:
df['Contract']=lb.fit_transform(df['Contract'])
df['Churn']=lb.fit_transform(df['Churn'])
df['TotalCharges']=lb.fit_transform(df['TotalCharges'])
df['MonthlyCharges']=lb.fit_transform(df['MonthlyCharges'])

In [47]:
df

      tenure  Contract  MonthlyCharges  TotalCharges  Churn
0          1         0             142          2505      0
1         34         1             498          1466      0
2          2         0             436           157      1
3         45         1             266          1400      0
4          2         0             729           925      1
5          8         0            1274          6104      1
6         22         0            1075          1550      0
7         10         0             140          2609      0
8         28         0            1371          2646      1
9         62         1             482          3022      0
10        13         0             375          4823      0
11        16         2               8          2836      0
12        58         1            1288          4693      0
13        49         0            1349          4265      1
14        25         0            1385          2337      0
15        69         2            1519          5959      0
16        52         1              42            46      0
17        71         2            1409          5704      0
18        10         0             463          4416      1
19        21         0            1094          1433      0
20         1         0             237          3340      1
21        12         1              25          1651      0
22         1         0              32          1609      1
23        58         2             541          3041      0
24        49         0             535          2567      0
25        30         0             465           959      0
26        47         0            1268          4019      1
27         1         0             148          2592      1
28        72         2            1098          5135      0
29        17         0             622           184      1
...      ...       ...             ...           ...    ...
7013      40         0            1156          3226      0
7014      41         0            1077          3149      0
7015      34         0             999          2481      0
7016       1         0             375          4148      0
7017      51         2              42            40      0
7018       1         0             728          5514      1
7019      39         2              32          6116      0
7020      12         0              13          2024      0
7021      12         1             539          5651      1
7022      72         1            1374          5796      0
7023      63         0            1346          5200      0
7024      44         0             991          3135      0
7025      18         0            1189          1166      0
7026       9         0             289          3448      1
7027      13         0             775          6401      0
7028      68         2             610          3680      0
7029       6         0             293          2278      0
7030       2         0              30          3338      0
7031      55         1             543          2880      0
7032       1         0             822          5776      1
7033      38         0             705          2272      0
7034      67         0            1335          5431      1
7035      19         0             874           892      0
7036      12         1             556          5741      0
7037      72         2              52           770      0
7038      24         1             991          1597      0
7039      72         1            1340          5698      0
7040      11         0             137          2994      0
7041       4         0             795          2660      1
7042      66         2            1388          5407      0

[7043 rows x 5 columns]

In [48]:
x=df.drop('Churn',axis=1)
y=df.Churn

In [49]:
x

      tenure  Contract  MonthlyCharges  TotalCharges
0          1         0             142          2505
1         34         1             498          1466
2          2         0             436           157
3         45         1             266          1400
4          2         0             729           925
5          8         0            1274          6104
6         22         0            1075          1550
7         10         0             140          2609
8         28         0            1371          2646
9         62         1             482          3022
10        13         0             375          4823
11        16         2               8          2836
12        58         1            1288          4693
13        49         0            1349          4265
14        25         0            1385          2337
15        69         2            1519          5959
16        52         1              42            46
17        71         2            1409          5704
18        10         0             463          4416
19        21         0            1094          1433
20         1         0             237          3340
21        12         1              25          1651
22         1         0              32          1609
23        58         2             541          3041
24        49         0             535          2567
25        30         0             465           959
26        47         0            1268          4019
27         1         0             148          2592
28        72         2            1098          5135
29        17         0             622           184
...      ...       ...             ...           ...
7013      40         0            1156          3226
7014      41         0            1077          3149
7015      34         0             999          2481
7016       1         0             375          4148
7017      51         2              42            40
7018       1         0             728          5514
7019      39         2              32          6116
7020      12         0              13          2024
7021      12         1             539          5651
7022      72         1            1374          5796
7023      63         0            1346          5200
7024      44         0             991          3135
7025      18         0            1189          1166
7026       9         0             289          3448
7027      13         0             775          6401
7028      68         2             610          3680
7029       6         0             293          2278
7030       2         0              30          3338
7031      55         1             543          2880
7032       1         0             822          5776
7033      38         0             705          2272
7034      67         0            1335          5431
7035      19         0             874           892
7036      12         1             556          5741
7037      72         2              52           770
7038      24         1             991          1597
7039      72         1            1340          5698
7040      11         0             137          2994
7041       4         0             795          2660
7042      66         2            1388          5407

[7043 rows x 4 columns]

In [50]:
y

0       0
1       0
2       1
3       0
4       1
5       1
6       0
7       0
8       1
9       0
10      0
11      0
12      0
13      1
14      0
15      0
16      0
17      0
18      1
19      0
20      1
21      0
22      1
23      0
24      0
25      0
26      1
27      1
28      0
29      1
       ..
7013    0
7014    0
7015    0
7016    0
7017    0
7018    1
7019    0
7020    0
7021    1
7022    0
7023    0
7024    0
7025    0
7026    1
7027    0
7028    0
7029    0
7030    0
7031    0
7032    1
7033    0
7034    1
7035    0
7036    0
7037    0
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [52]:
reg=LogisticRegression()

In [53]:
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [55]:
prediction=reg.predict(x_test)

In [64]:
prediction[0]

0

In [66]:
y_test[0]

0

In [70]:
reg.score(x_test, y_test)

0.7828246983676366

In [72]:
precision_score(y_test,prediction)

0.6418439716312057

In [73]:
recall_score(y_test,prediction)

0.4689119170984456

In [75]:
f1_score(y_test, prediction)

0.5419161676646707